<a href="https://colab.research.google.com/github/Raizel820/Data_Wrangling/blob/master/sliderule_dsi_json_exercise_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas-docs.github.io/pandas-docs-travis/io.html#json
+ data source: http://jsonstudio.com/resources/
****

In [0]:
import pandas as pd

## imports for Python, Pandas

In [0]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas-docs.github.io/pandas-docs-travis/io.html#normalization

In [0]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [0]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [0]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population info.governor    state shortname
0        Dade       12345    Rick Scott  Florida        FL
1     Broward       40000    Rick Scott  Florida        FL
2  Palm Beach       60000    Rick Scott  Florida        FL
3      Summit        1234   John Kasich     Ohio        OH
4    Cuyahoga        1337   John Kasich     Ohio        OH

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [0]:
import urllib, json

url = "https://raw.githubusercontent.com/Raizel820/Data_Wrangling/master/data/world_bank_projects_less.json"
response = urllib.urlopen(url)
data = json.loads(response.read())

In [0]:
sample_json_df = pd.read_json(url)
sample_json_df
df=sample_json_df

In [0]:
sample_json_df.info()

In [0]:
df.shape

(2, 50)

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [6]:
import urllib, json

url = "https://raw.githubusercontent.com/Raizel820/Data_Wrangling/master/data/world_bank_projects.json"
df = pd.read_json(url)
df.sample(5)

                                        _id  ...                                                url
454  {u'$oid': u'52b213b38594d8a2be17c946'}  ...  http://www.worldbank.org/projects/P126408/full...
395  {u'$oid': u'52b213b38594d8a2be17c90b'}  ...  http://www.worldbank.org/projects/P124006/firs...
378  {u'$oid': u'52b213b38594d8a2be17c8fa'}  ...  http://www.worldbank.org/projects/P143329?lang=en
2    {u'$oid': u'52b213b38594d8a2be17c782'}  ...  http://www.worldbank.org/projects/P145310?lang=en
322  {u'$oid': u'52b213b38594d8a2be17c8c2'}  ...  http://www.worldbank.org/projects/P132268/soli...

[5 rows x 50 columns]

In [11]:
df.countryname.value_counts().head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Nepal                              12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

In [33]:
df['mjtheme'].value_counts().head(10)

[Human development]                                                                             25
[Environment and natural resources management]                                                  22
[Public sector governance]                                                                      18
[Rural development]                                                                             14
[Environment and natural resources management, Environment and natural resources management]    12
[Financial and private sector development]                                                      11
[Social protection and risk management]                                                         10
[Social dev/gender/inclusion]                                                                    8
[Human development, Human development]                                                           8
[Financial and private sector development, Financial and private sector development]             6
Name: mjtheme, dtype: int64

In [0]:
df2 = pd.DataFrame(df.mjtheme_namecode.fillna(method ='pad').value_counts().head(10))

In [29]:
df2

                                                    mjtheme_namecode
[{u'code': u'11', u'name': u'Environment and na...                12
[{u'code': u'8', u'name': u'Human development'}...                11
[{u'code': u'8', u'name': u'Human development'}...                 8
[{u'code': u'4', u'name': u'Financial and priva...                 6
[{u'code': u'2', u'name': u'Public sector gover...                 6
[{u'code': u'8', u'name': u'Human development'}...                 5
[{u'code': u'8', u'name': u'Human development'}...                 5
[{u'code': u'11', u'name': u'Environment and na...                 5
[{u'code': u'11', u'name': u'Environment and na...                 5
[{u'code': u'4', u'name': u'Financial and priva...                 5

In [37]:
pd.DataFrame(df.mjtheme.fillna(method ='pad').value_counts().head(10))

                                                    mjtheme
[Human development]                                      25
[Environment and natural resources management]           22
[Public sector governance]                               19
[Financial and private sector development]               14
[Rural development]                                      14
[Environment and natural resources management, ...       12
[Social protection and risk management]                  10
[Human development, Human development]                    9
[Social dev/gender/inclusion]                             8
[Financial and private sector development, Fina...        6